# Arquivos objeto
*.o

# Arquivos de dependência (se usar -MMD, por exemplo)
*.d

# Executáveis gerados
main
a.out
program
bin/

# Diretórios de build
build/
dist/

# Bibliotecas compiladas
*.so
*.a

# Arquivos temporários do editor/sistema
*.swp
.DS_Store

# Arquivos Make gerados
toytrace
tests/targets/exec_echo
tests/targets/failed_open
tests/targets/hello_write
tests/targets/open_hosts
tests/unit/test_student